<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.spbau.group202.notdeadbydeadline">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AddHomeworkActivity"
            android:label="@string/title_activity_addHomework"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName=".UI.HomeworkActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.group202.notdeadbydeadline.UI.HomeworkActivity" />
        </activity>
        <activity
            android:name=".UI.DisplayHomeworkActivity"
            android:label="@string/title_activity_display_homework"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName=".UI.HomeworkActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.group202.notdeadbydeadline.UI.HomeworkActivity" />
        </activity>

        <activity
            android:name=".UI.DeadlinesActivity"
            android:label="@string/title_activity_deadline"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.group202.notdeadbydeadline.UI.MainActivity" />
        </activity>
        <activity
            android:name=".UI.HomeworkActivity"
            android:label="@string/title_activity_homework"
            android:screenOrientation="sensorPortrait"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.group202.notdeadbydeadline.UI.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name=".UI.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:parentActivityName=".UI.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.spbau.group202.notdeadbydeadline.UI.MainActivity" />
        </activity>-->
    </application>

</manifest>